# Importa as Bibliotecas e a Base de Dados

In [5]:
# Chama as bibliotecas
import sklearn as sk
import numpy as np
import pandas as pd
import matplotlib.pyplot as ptl
import seaborn as sb

# Carrega a base de dados
data = pd.read_csv("CTG.csv")
data.head()

,Name,LB,AC,FM,UC,ASTV,MSTV,ALTV,MLTV,DL,...,Min,Max,Nmax,Nzeros,Mode,Mean,Median,Variance,Tendency,NSP
0,CTG0001,120,0,0,0,73,0.5,43,2.4,0,...,62,126,2,0,120,137,121,73,1,2
1,CTG0002,132,4,0,4,17,2.1,0,10.4,2,...,68,198,6,1,141,136,140,12,0,1
2,CTG0003,133,2,0,5,16,2.1,0,13.4,2,...,68,198,5,1,141,135,138,13,0,1
3,CTG0004,134,2,0,6,16,2.4,0,23.0,2,...,53,170,11,0,137,134,137,13,1,1
4,CTG0005,132,4,0,5,16,2.4,0,19.9,0,...,53,170,9,0,137,136,138,11,1,1

# Cria o Dataframe

In [12]:
df_data = pd.DataFrame(data)
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126 entries, 0 to 2125
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      2126 non-null   object
 1   LB        2126 non-null   int64
 2   AC        2126 non-null   int64
 3   FM        2126 non-null   int64
 4   UC        2126 non-null   int64
 5   ASTV      2126 non-null   int64
 6   MSTV      2126 non-null   float64
 7   ALTV      2126 non-null   int64
 8   MLTV      2126 non-null   float64
 9   DL        2126 non-null   int64
 10  DS        2126 non-null   int64
 11  DP        2126 non-null   int64
 12  Width     2126 non-null   int64
 13  Min       2126 non-null   int64
 14  Max       2126 non-null   int64
 15  Nmax      2126 non-null   int64
 16  Nzeros    2126 non-null   int64
 17  Mode      2126 non-null   int64
 18  Mean      2126 non-null   int64
 19  Median    2126 non-null   int64
 20  Variance  2126 non-null   int64
 21  Tendency  2126 non-null   int64
 22  NSP       2126 non-null   int64
dtypes: float64(2), int64(20), object(1)
memory usage: 382.1+ KB

In [14]:
from sklearn.neighbors import KNeighborsClassifier