## Importa as Bibliotecas e a Base de Dados

In [1]:
# Importa as bibliotecas necessárias
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as ptl

# Importa a Base de Dados
data = pd.read_csv('CTG.csv')

# Eliminando colunas que não serão utilizadas
data = data.drop(data.columns[0], axis=1)

data.head()

,LB,AC,FM,UC,ASTV,MSTV,ALTV,MLTV,DL,DS,...,Min,Max,Nmax,Nzeros,Mode,Mean,Median,Variance,Tendency,NSP
0,120,0,0,0,73,0.5,43,2.4,0,0,...,62,126,2,0,120,137,121,73,1,2
1,132,4,0,4,17,2.1,0,10.4,2,0,...,68,198,6,1,141,136,140,12,0,1
2,133,2,0,5,16,2.1,0,13.4,2,0,...,68,198,5,1,141,135,138,13,0,1
3,134,2,0,6,16,2.4,0,23.0,2,0,...,53,170,11,0,137,134,137,13,1,1
4,132,4,0,5,16,2.4,0,19.9,0,0,...,53,170,9,0,137,136,138,11,1,1

## Cria do Dataframe

In [2]:
df_data = pd.DataFrame(data)
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126 entries, 0 to 2125
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LB        2126 non-null   int64
 1   AC        2126 non-null   int64
 2   FM        2126 non-null   int64
 3   UC        2126 non-null   int64
 4   ASTV      2126 non-null   int64
 5   MSTV      2126 non-null   float64
 6   ALTV      2126 non-null   int64
 7   MLTV      2126 non-null   float64
 8   DL        2126 non-null   int64
 9   DS        2126 non-null   int64
 10  DP        2126 non-null   int64
 11  Width     2126 non-null   int64
 12  Min       2126 non-null   int64
 13  Max       2126 non-null   int64
 14  Nmax      2126 non-null   int64
 15  Nzeros    2126 non-null   int64
 16  Mode      2126 non-null   int64
 17  Mean      2126 non-null   int64
 18  Median    2126 non-null   int64
 19  Variance  2126 non-null   int64
 20  Tendency  2126 non-null   int64
 21  NSP       2126 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 365.5 KB

## Cria o Dataset de Treino

In [3]:
from sklearn.model_selection import train_test_split

# Separa os dados em treino, teste e validação
x_train, x_temp, y_train, y_temp = train_test_split(df_data, data["NSP"], test_size=0.5, stratify=data["NSP"])
x_validation, x_test, y_validation, y_test = train_test_split(x_temp, y_temp, test_size=0.5)

In [13]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

NB = GaussianNB()
NB.fit(x_train, y_train)
pred = NB.predict(x_validation)
print("Acurácia:", accuracy_score(y_validation, pred))
print("Relatório de Classificação:\n", classification_report(y_validation, pred))
print("Matriz de Confusão:\n", confusion_matrix(y_validation, pred))

Acurácia: 1.0
Relatório de Classificação:
               precision    recall  f1-score   support

           1       1.00      1.00      1.00       409
           2       1.00      1.00      1.00        77
           3       1.00      1.00      1.00        45

    accuracy                           1.00       531
   macro avg       1.00      1.00      1.00       531
weighted avg       1.00      1.00      1.00       531

Matriz de Confusão:
 [[409   0   0]
 [  0  77   0]
 [  0   0  45]]